*.log
*.pot
*.pyc
*.vscode
.env
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
virtualenv/
Procfile
requirements.txt
runtime
https://portfolio088.herokuapp.com/ | https://git.heroku.com/portfolio088.git