/* Site-wide style sheet */
/*Google fonts (optional) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Code Pro', monospace;
light color: silver
dark color: black
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin : 0;
    background-color:rgb(212, 232, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    position: relative;
    z-index: 100;
    margin: 5rem 23vw 3rem 23vw; /* 4rem 25rem 4rem 25rem; */ 
    min-width: 350px;
    padding: 3rem 3rem;
    background:white;
}
.resume_head, .contact{
    text-align: center;
}
.margin{
    margin-left: 40px;
}
.bottom-margin{
    margin-bottom: 10px;
}
h1, h3{
    font-weight: 600;
}
#bold{
    font-weight: 700;
    position: static;
}
.tab{
    display: inline-block;
    margin-left: 20vw;
}
.tabd{
    display: inline-block;
    margin-left: 19.5vw;
}
.tab2{
    display: inline-block;
    margin-left: 23vw;
}
.tab1{
    display: inline-block;
    margin-left: 23vw;
}
.tab3{
    display: inline-block;
    margin-left: 23vw;
}
.tab4{
    display: inline-block;
    margin-left: 21vw;
}
.tab_list{
    display: inline-block;
    margin-left: 20px;
}
.spacing-1{width:25%;}
.spacing-2{width:25%;}
.spacing-3{width:25%;}
.spacing-4{width:25%;}

* .boxing{
    box-sizing: border-box;
}
.boxing::after {
    content: "";
    clear: both;
    display: table;
}
[class*="spacing-"] {
    float: left;
}

input[type='submit' i] {
    margin: 0;
}
.asteriskField {
    display:none;
}
.centralize{
    text-align: center;
}
.centre{
    text-align: center;
}